<div class="container">
  <button class="btn btn-primary pull-right" style="margin-top: 1rem">
    <% if !logged_in %>
     <%=link_to "Sign IN", signin_path , class:"fadeIn fourth" %>
    <% else %>
    <%=link_to "Sign OUT", signout_path , method: :delete, class:"fadeIn fourth" %>
    <% end %>
  </button>
	<div class="row">
<dl class="dl-unsur">
  <% @posts.each do |post| %>
  <dd>
          <% if logged_in %>
      <h1 class="pull-left">Author: <%= post.user.name %> </h2>
          <% end %>
  </dd>
  <dd>
        <a class="pull-left">
            <h2 class="pull-right"><%= post.id %></h2>
            <div class="pull-left" ><%= post.title %></div>
            <div class="pull-left" ></div>
        </a>
        <p class="small pull-left" >

        <%= post.body %></p>
               <p class="small pull-left" >
        <%= post.created_at %> </p>
    </dd>
  <% end %>
</dl>


	</div>
</div>