<div class="container">
  <button class="btn btn-primary pull-right" style="margin-top: 1rem">
    <% if !logged_in %>
     <%=link_to "Sign IN", signin_path , method: :get, class:"fadeIn fourth" %>
    <% else %>
    <%=link_to "Sign OUT", signout_path , method: :delete, class:"fadeIn fourth" %>
    <% end %>
  </button>
	<div class="row">
		<h2>News</h2>

<dl class="dl-unsur">
  <% @posts.each do |post| %>
  <dd>
        <a class="pull-left">
            <h2 class="pull-right"><%= post.id %></h2>
            <div class="pull-left" ><%= post.title %></div>
        </a>
        <p class="small pull-left" >
        <% if logged_in %>
          <%= post.user.name %>
        <% end %>
        <%= post.body %></p>
    </dd>
  <% end %>
</dl>


	</div>
</div>