<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
    <div class="navbar-header" style="padding : 1rem">
          <button class="btn btn-primary pull-right">
<%=link_to "All Posts", root_url , class:"fadeIn" %>
</button>
            <% if !logged_in %>
            <button class="btn btn-primary pull-right">
              <%=link_to "Sign IN", signin_path , class:"fadeIn" %>
              </button>
            <% else %>
            <button class="btn btn-primary pull-right">
              <%=link_to "Sign OUT", signout_path , method: :delete, class:"fadeIn" %>
              </button>
            <% end %>
            </div>
            </div>
      </nav>
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    <%= yield %>


  </button>
  </body>
</html>
